body {
  background-color: #252525;
  font-family: sans-serif;
  font-weight: 100;
  margin: 1em 10em 0 10em;
  color: white;
}

h1 {
  color: #f54997;
  font-weight: lighter;
  margin: 1.5em 0 1.5em 0;
}

li {
  list-style: none;
  border-bottom: 1px solid #585858;
}

.title {
  font-size: 1.3em;
}

i {
  color: #f54997;
}

span {
  margin-right: 1em;
}
